# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore environment variables
.env

# Ignore virtual environments
venv/
*.egg-info/

# Ignore Django migrations
**/migrations/*

# Ignore compiled files
*.log
*.sqlite3

# Ignore IDE files
.vscode/
.idea/
*.swp

# Ignore Node.js dependencies (if applicable)
node_modules/
dist/

# Ignore frontend build files (if applicable)
frontend/node_modules/
frontend/dist/

# Ignore operating system files
.DS_Store
Thumbs.db
